.navbar.navbar-light.fixed-top.navbar-expand-lg
  .container
    a.navbar-brand(href='#')
      i.far.fa-file-alt  
      | Registro de Usuários
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        li.nav-item(class=(title === 'API Examples') ? 'active' : undefined)
          a.nav-link(href='/cadastrar') Cadastrar
        //- li.nav-item(class=(title === 'Status') ? 'active' : undefined)
        //-   a.nav-link(href='/status') Status
